*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 375px;
    height: 600px;
    border:  2px solid greenyellow;
}
.main{
    width: 300px;
    height: 550px;
    border: 1px solid blue;
    margin: auto;
}
#input{
    width: 264px;
    height: 70px;
    text-align: right;
    font-size: 20px;
    border: 1px solid red;
   
}


@media (min-width:400px){
    .container{
        width: 1350px;
        height: 650px;
        border: 2px solid blueviolet;
    }
    .main{
        width: 1200px;
        height: 600px;
        border: 1px solid red;
        margin: auto;
    }
    #input{
        width: 340px;
        font-size: 24px;
        /* margin: auto; */
    }
}