*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 375px;
    height: 600px;
    /* border:  2px solid greenyellow; */
}
.main{
    width: 300px;
    height: 600px;
    /* border: 1px solid blue; */
    margin: auto;
}
#input{
    width: 230px;
    height: 70px;
    text-align: right;
    font-size: 20px;
    /* border: 1px solid red; */
    margin-left: 33px;
   
}
.buttons{
    width: 230px;
    height: 530px;
    /* border: 1px solid purple; */
    margin-left: 33px;
    background-color: black;
    border-radius: 0px 0px 20px 20px;
}
button{
    width: 50px;
    height: 27px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    font-size: 20px;
   
 }


@media (min-width:400px){
    .container{
        width: 1350px;
        height: 200px;
        /* border: 2px solid blueviolet; */
    }
    .main{
        width: 1200px;
        height: 200px;
        /* border: 1px solid red; */
        margin: auto;
    }
    #input{
        width: 300px;
        font-size: 24px;
       margin-left: 450px;
    }
    .buttons{
        width: 300px;
        margin-right: -120px;
        border-bottom: 50px;
        margin: auto;
        border-radius: 0px 0px 50px 50px;
    }
}